@tailwind base;
@tailwind components;
@tailwind utilities;

body,
button[type="submit"],
button {
  background: linear-gradient(
    130deg,
    rgba(52, 166, 221, 1) 0%,
    rgba(85, 82, 159, 1) 100%
  );
}
